/** @format */
@import "tailwindcss";

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 8px !important;
  color: black !important;
  font-weight: 900 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  filter: brightness(0) saturate(100%);
}

.swiper-button-prev,
.swiper-button-next:hover {
  color: orangered !important;
}
.ModalCloseButton {
  background-color: red !important;
}
