/** @format */
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Ancizar Serif", serif;
  --font-secondary: "Bellefair", serif;
}

/* ul li {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
}
#home-text h3 {
  font-family: "Bellefair";
  font-weight: 400;
  font-style: normal;
}
#home-text h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
} */
.slick-dots {
  color: white;
}
.slick-dots li {
  color: aqua;
}
.slick-dots li button:before {
  font-size: 16px !important;
  color: gray !important;
  opacity: 0.5 !important;
  content: "•" !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}
/* .image-rect {
  width: 100%;
  height: 500px;
  border: 2px solid grey;
  overflow: hidden;
}
.image-rect img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  object-fit: contain;
} */
